<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirect all requests to the API on localhost:5000
    RewriteCond %{REQUEST_URI} !^/api
    RewriteRule ^(.*)$ http://localhost:5000/$1 [P,L]

    # Proxy requests to the API on localhost:5000
    <Proxy "http://localhost:5000">
        Order allow,deny
        Allow from all
    </Proxy>
</IfModule>
